.signincontainer
  = form_for ([@post, Comment.new]) do |f|
    .input-group
      .input-group-prepend
        %span.input-group-text Comment
        = f.text_area :comment, class: 'form-control', size: '60x3'
    .action
      %br
      = f.submit 'Create comment', class: 'btn btn-primary'
      %br