@import 'bootstrap';
@import 'users';
@import 'posts';
@import 'comments';
@import "font-awesome-sprockets";
@import "font-awesome";


.signincontainer {
  margin-left: 20px;
}

.login_button_layout {
  white-space: nowrap;
  position: absolute;
  right: 40px;
}

.nickname_layout {
  white-space: nowrap;
  position: absolute;
  right: 140px;
}

.footer {
  position: fixed;
  left: 0; bottom: 0;
  padding: 1px;
  width: 100%

}

.homeimage {
  position: relative;
  top: 130px;
}

.search-form{
  position: relative;
  left: 45%;
  input{
    width:  300px;
    font-size: 13px;
    text-align: center;
  }}

.signincenter {
  padding: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.logo {
  font-size: 25px;
}

#chatbox {
  overflow: scroll;
}