@import 'bootstrap';

.signincontainer {
  margin-left: 20px;
}

.login_button_layout {
  white-space: nowrap;
  position: absolute;
  right: 40px;
}

.nickname_layout {
  white-space: nowrap;
  position: absolute;
  right: 140px;
}