@import 'bootstrap';

.signincontainer {
  margin-left: 20px;
}

.login_button_layout {
  white-space: nowrap;
  position: absolute;
  right: 40px;
}

.nickname_layout {
  white-space: nowrap;
  position: absolute;
  right: 140px;
}

.footer {
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px;
  width: 100%
}

.pict {
  position: relative;
  top: 130px;
}
