// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fieldcontrol {
  text-align: center;
}

.commtext {
  margin: 20px 200px 40px;
  font-size: medium;
  text-align: left;
}